.nav-home{
    display: flex;
}

.nav-other{
    display: flex;
    background-color: var(--color-secondary);
}

.nav__logo{
    width: 100px;
    height: auto;
    position: relative;
    top:0.2rem
}

.nav__liste{
  
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
    width: 100%;
    column-gap: 2rem;
    margin-left: 4rem;
    position: relative;
    top: 2.5rem;
}

.nav__item{
    font-size: 18px;
    font-weight: bold;
    transition: color 300ms;

}

.nav__item-1{
    color: var(--color-secondary-variant);

}
.nav__item:hover{
    color: var(--color-secondary);
}

.nav__item-2{
    color: var(--color-primary);
}