.nav-home{
    display: flex;
}

.nav-other{
    display: flex;
    background-color: var(--color-secondary);
}

.nav__logo{
    width: 100px;
    height: auto;
    position: relative;
    top:0.2rem
}
.nav__mobile{
    visibility: hidden;
}

.nav__liste{
  
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
    width: 100%;
    column-gap: 2rem;
    margin-left: 4rem;
    position: relative;
    top: 2.5rem;
}

.nav__item{
    font-size: 18px;
    font-weight: bold;
    transition: color 300ms;

}

.nav__item-1{
    color: var(--color-secondary-variant);

}
.nav__item:hover{
    color: var(--color-secondary);
}

.nav__item-2{
    color: var(--color-primary);
}
.nav__item-underline{
    text-decoration: underline;
    text-underline-offset: 0.5rem;
}

@media (max-width:430px) {
    .nav__mobile{
        visibility: visible;
        z-index: 9999;
        position: absolute;
        right: 2rem;
        top: 2rem;
        display: block;
    }
    .nav__liste{
        z-index: 1000;
        display: flex;
        flex-direction: column;
        position: fixed;
        margin: 0;
        inset: 0 0 0 30%;
        background-color: hsla(0, 3%, 29%, 0.258); 
        backdrop-filter: blur(1rem);

        padding: 4rem;
        font-size: 2rem;
        gap: 2rem;
        transform: translateX(100%);
        transition: transform 300ms ease-in;
}

.nav__liste[data-visible="true"]{
    transform: translateX(0%);
}
   ul li span{
        display: none;
    }
}

@media (max-width:321px) {
    .nav__liste{
        padding: 5rem 1rem;
        left : 25%
        }
    
}