.home4__container{
    background-color: var(--color-primary);
    height: 100vh;
    padding: 3rem;
    display: flex;
    column-gap: 2rem;
    justify-content: center;
    align-items: center;
}
.home4__text{
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    max-width: 40vw;
}

.home4__text h1 p {
    color: var(--color-secondary);
}

.home4__text__title{
    font-size: 4rem;
    font-weight: bold;
    line-height: 4rem;
}

.home4__text__description{
    font-size: 1.3rem;
}

.home4__img{
    width: 100%;
    max-height: 80vh;
}