.home3__background{
    background-color: var(--color-secondary);
    height: 100vh;
}

.home3__title {
    font-size: 50px;
    font-weight: bold;
    color: var(--color-secondary-variant);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.home3__grid{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 3rem;
  
}

.home3__card{
    border: 1px solid var(--color-primary);
    width: 550px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home3__card__content{
    padding: 7rem;
}

.home3__card__title{
    font-size: 3rem;
    color: var(--color-secondary-variant);
    line-height: 3rem;
    text-align: center;
    padding-bottom: 2rem;
}

.home3__card__body{
    font-size: 1rem ;
    color: var(--color-primary);
    margin-bottom: 2rem;
}
.home3__card__btn{
    display: flex;
    justify-content: center;
    align-items: center;
}