* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Garet';
  
}



@font-face {
  font-family: 'Garet';
  src: url('../public/fonts/Garet-Book.ttf') format('truetype');
}
@font-face {
  font-family: 'Garet-Bold';
  src: url('../public/fonts/Garet-Heavy.ttf') format('truetype');
}

:root{
  --color-primary: #E9E3E0;
  --color-secondary: #2C2C39;
  --color-secondary-variant: #C1FF72;
}

.primary{
  color: #E9E3E0;
}
.secondary-variant{
  color: #C1FF72;
}
.secondary{
  color: #2C2C39;
}

.container {
  padding: 2rem 3rem;
}

.btn{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid;
  width: 15rem;
  height: 3rem;
  border-radius: 2rem 2rem;
}


.btn-primary{
  border-color: var(--color-secondary);
  background-color: var(--color-primary);
  color: var(--color-secondary);

}
.btn-secondary{
  background-color: var(--color-secondary);
  border-color:var(--color-secondary-variant);
  color: var(--color-secondary-variant);

}

.btn:hover{
  background-color: var(--color-secondary-variant);
  color: var(--color-secondary);
}

