.rider__container{
    min-height: 100vh;
    background-color: var(--color-primary);
    padding: 2rem;

}

.rider__title{
    text-align: center;
    color: var(--color-secondary);
    font-family: 'Russo';
    font-size: 3rem;
    line-height: 3rem;
    margin: 0;
    padding-bottom: 1rem;
}

.rider__grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem 2rem;
}

.rider__card{
    width: 20rem;
    height: 8rem;
    border: 1px solid purple;
    border-radius: 1rem;
    background-color: var(--color-secondary);
    color: var(--color-primary);
}

.rider__card__title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    margin-top: 0.5rem;
    margin-bottom: 0.7rem;
    font-weight: bold;
}
.rider__card__description{
    color: var(--color-secondary-variant);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
}

@media (max-width:1025px) {
    .rider__grid{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-content: center;
  gap: 3rem 3rem;
    }
}

@media (max-width:426px) {
    .rider__grid{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}